<h1><%= t "layouts.application.title" %></h1>
<p><%= @user.name %>,</p>
<p>
  <%= t "layouts.application.inform_success" %>
</p>
<%= link_to "Activate",
  edit_account_activation_url(id: @user.activation_token,email: @user.email) %>
